[mysqldump]
quick
quote-names
max_allowed_packet              = 32M

[mysqld_safe]
nice                            = 0

[mysqld]
lower_case_table_names          = 1
datadir                         = /var/lib/mysql/data
sort_buffer_size                = 512MB
read_buffer_size                = 128MB
thread_stack                    = 192K
thread_cache_size               = 16
query_cache_type                = 1
query_cache_limit               = 512M
query_cache_size                = 16M
wait_timeout                    = 60
table_definition_cache          = 16384
tmp_table_size                  = 64M
max_heap_table_size             = 256M
join_buffer_size                = 256M
table_open_cache                = 16384
max_allowed_packet              = 32M
group_concat_max_len            = 524288
open-files-limit                = 320000
max_connections                 = 1000
innodb_buffer_pool_size         = 512M
innodb_log_file_size            = 256M
innodb_thread_concurrency       = 4
innodb_log_buffer_size          = 32M
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT
binlog_format                   = MIXED
skip-external-locking
